# ==============================================================================
# GLOBALE PREFERENCES / FEATURE FLAGS (true = Aktivieren, false = Deaktivieren)
# ==============================================================================
SETUP_TRAEFIK=true
SETUP_PWA=true
SETUP_INCIDENT_MANAGER=false

# ==============================================================================
# WEB APP 1: PWA APP CONFIGURATION
# ==============================================================================
PWA_APP_PATH=/opt/zso/pwa_app/
PWA_GIT=https://github.com/ZSO-Apps/pwa_app.git
PWA_DOMAIN=pwa.example.local

# ==============================================================================
# WEB APP 2: INCIDENT MANAGER CONFIGURATION
# ==============================================================================
IM_APP_PATH=/opt/zso/im/
IM_GIT=https://github.com/RFO-Baden/incident-manager.git
IM_DOMAIN=im.deine-domain.ch
# Damit der Incident Manager mit Traefik funktioniert, muss das modifizierte docker-compose.yml verwendet werden
OVERWRITE_DOCKER_COMPOSE=true

# Auswahl füodaten: "minimal", "sample" oder "nein"
IM_DB_DATA_CHOICE=minimal
DOCKER_GID=987
