# ==============================================================================
# GLOBALE PREFERENCES / FEATURE FLAGS (true = Aktivieren, false = Deaktivieren)
# ==============================================================================
SETUP_TRAEFIK=true
SETUP_PWA=false
SETUP_INCIDENT_MANAGER=false
SETUP_ZSK=true

# ==============================================================================
# PWA APP CONFIGURATION
# ==============================================================================
PWA_APP_PATH=/opt/zso/pwa_app/
PWA_GIT=https://github.com/ZSO-Apps/pwa_app.git
PWA_DOMAIN=pwa.zso3.local

# ==============================================================================
# INCIDENT MANAGER CONFIGURATION
# ==============================================================================
IM_APP_PATH=/opt/zso/im/
IM_GIT=https://github.com/RFO-Baden/incident-manager.git
IM_DOMAIN=im.zso3.local
# Damit der Incident Manager mit Traefik funktioniert, muss das modifizierte docker-compose.yml verwendet werden
OVERWRITE_DOCKER_COMPOSE=true

# Auswahl füodaten: "minimal", "sample" oder "nein"
IM_DB_DATA_CHOICE=minimal

# ==============================================================================
# ZS KARTE / Offlinekarte
# ==============================================================================
OFK_PATH=/opt/zso/offlinekarte/
OFK_GIT=
ZSK_PATH=/opt/zso/offlinekarte/zskarte/
ZSK_ENV_TS=/opt/zso/offlinekarte/zskarte/packages/app/src/environments/environment.prod.ts
ZSK_ENABLE_TLS=true
ZSK_DOMAIN=maps.zso3.local
ZSK_API_DOMAIN=api.maps.zso3.local
ZSK_API_PATH=
OFK_TILE_DOMAIN=tile.maps.zso3.local
OFK_TILE_PATH=/styles/osm-bright
OFK_SEARCH_DOMAIN=search.maps.zso3.local
OFK_SEARCH_PATH=/search/
ZSK_SEARCH_LABEL="ZSO Wettingen-Limmattal (lokal)"