RFO_STAGE=development

RFO_DOMAIN=im.zso3.local
BACKEND_DOMAIN=im.zso3.local
RFO_FRONTEND_HOST=https://${RFO_DOMAIN} #http://${RFO_DOMAIN}:3000 # For PROD use https:// and no ports (if using 443)
RFO_BACKEND_URL=https://${BACKEND_DOMAIN} # http://${RFO_DOMAIN}:3001 # For PROD use https:// and no ports (if using 443)
RFO_BACKEND_DEBUG=false

RFO_DATABASE_NAME=database
RFO_DATABASE_USERNAME=username
RFO_DATABASE_PASSWORD=password
RFO_DATABASE_ROOT_PASSWORD=root-password

RFO_JWT_SECRET=c65f26169de4546a9082e50a8b5d1d609b2e13cf0325b700284ad3a7841a9a51

RFO_ORG_NAME=RFO Baden

RFO_EMAIL_HOST=smtp.example.com
RFO_EMAIL_PORT=587
RFO_EMAIL_USERNAME=im@example.com
RFO_EMAIL_PASSWORD=

RFO_DOCKER_SOCK=/var/run/docker.sock 
APP_DOMAIN=im.zso3.local
NEXT_PUBLIC_RFO_BACKEND_URL=https://${RFO_DOMAIN}